$editColor: #8af;
$vertMargin: 15px;

.editing {
    background: {
        color: $editColor;
    }
}

.ng-cloak {
    display: none;
}

.fieldText {
    background: {
        color: #ddd;
    }
}

.fieldPositiveNumber {
    background: {
        color: #8f8;
    }
}

.fieldNegativeNumber {
    background: {
        color: #fa8;
    }
}

.fieldZero {
    background: {
        color: #fff;
    }
}

.lmi-row {
    margin: {
        top: $vertMargin;
        bottom: $vertMargin;
    }
}

.textRight {
    text-align: right;
}