extends layout

block content
    form.navbar.navbar-form
        a.navbar-brand(href='#') LMI Data
        ul.nav.navbar-nav
          li
            a(href='data') Data
    div(ng-controller='AppCtrl')
        div(ng-view)

    
    script(src=scriptURL, type="text/javascript").