!!!
html(ng-app="lmiData", xlmns:fb="http://ogp.me/ns/fb#")
    head
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width')
        base(href='/')
    title= title
    link(rel='stylesheet', href=styleURL)
  body
    block content